{% extends 'main/base.html' %}

{% block content %}
<h1>Товары</h1>
<div class="row">
    {% for i in stat %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ i.image.url }}" class="card-img-top" alt="Foto">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">${{ i.price }}</p>
                <a href="#" class="btn btn-primary">В корзину</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
