{% extends  'HTML/index.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block main %}
    <div class="card mb-3">
    <h1 class="card-title"><center>{{ products.name }}</center></h1>
    <center>
        <img src="{{ products.image.url }}" width="220" height="220">
    </center>
  <div class="card-body">
    <p class="card-text"><center>{{ products.description }}</center></p>
    <span class="badge badge-success">{{ products.price }}</span>
      <p class="card-text text-right">
          <button type="button" class="btn btn-success">Добавить в корзину</button>
      </p>
  </div>
</div>

{% endblock %}
</body>
</html>